@media screen and (min-width: 650px) {
  body {
    min-height: 100vh;

  }

  #mainContainer {
    max-width: 1100px;
    flex-direction: row-reverse;

  }

  #sliderContainer {
    max-width: 650px;
    min-width: 400px;

  }

  #sliderContainer .arrows-container {
    margin-left: -40%;

  }

  #sliderContainer .personImage {
    height: 400px;

  }

  .bg-slider-image {
    width: 90%;
    height: 100%;
    top: -15px;

  }

  #textContainer {
    min-width: 250px; 
    width: 100%;
    
    text-align: start;

  }

  #textContainer .motivational-quote {
    width: 115%;

    font-size: 1.7rem;

    margin-right: -160px;

    z-index: 2;
    
  }

  .bg-curve-image {
    width: 400px;
    height: 150px;

    bottom: 0;
    left: 0;

  }

  #textContainer .personInfos {
    flex-direction: row;

    margin-right: -80px;

    text-align: start;
    justify-content: flex-start;

  }

  .personInfos .name {
    font-size: 1.15rem;

    margin-right: 15px;

  }

}
